@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

/* 

input[type="text"] { 
    
Criar variável para armazenar 60px?    
    

font-family: 'Merriweather', serif;



*/


body {
    font-family: 'Roboto', sans-serif;
    background: #FFF;
    color: #232438;
    display: flex;
    justify-content: center;
}


.headerFixo {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: #3b3c5a;
    z-index: 1;
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    padding: 14px;
}



/*    -----------                TELA DE LOGIN                -----------    */


.telaDeLogin {
    /* display: flex; */
    display: flex;
    height: 100vw;
    background: #FFF;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.telaDeLogin h1 { 
    font-size: 40px;
    font-weight: 700;
    margin-top: 100px;
}
.telaDeLogin h2 { 
    font-size: 24px;
    font-weight: 100;
    margin-top: 5px;
}

.caixaDeLogin {
    background: #df9938;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-top: 40px;
    padding: 15px;
}
.caixaDeLogin input {
    background: #FFF;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
}

.caixaDeLogin button {
    background: #3b3c5a;
    margin-top: 5px;
    height: 35px;
    width: 100px;
    color: #FFF;
}

.desabilitarBotao {
    pointer-events: none;
  } 



/*    -----------                TELA DE QUIZZES                -----------    */

.telaDeQuizzes {
    /* display: flex; */
    display: none;
    justify-content: center;
}

.caixaDeQuizzes {
    width: 960px;
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
}

.telaDeQuizzes button,article {
    width: 200px;
    height: 225px;
    margin: 10px;
    padding: 0 50px;
    border-radius: 15px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
}

.telaDeQuizzes article {
    background: #df9938;
}

.telaDeQuizzes button {
    background: #3b3c5a;
    color: #FFF;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.2px;
}
.telaDeQuizzes button span {
    margin-top: 25px;
}
.telaDeQuizzes ion-icon {
    font-size: 45px;
    margin-bottom: 10px;
}




/*    -----------                TELA DE CRIAÇÃO DE QUIZZES                -----------    */

.telaDeCriacao {
    /* display: flex; */
    flex-direction: column;
    display: none;
    width: 650px;
    margin-top: 60px;
    padding: 60px 0;
}

.telaDeCriacao input {
    background: #FFF;
    margin: 3px;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    width: 100%;
}

.telaDeCriacao button {
    width: 100%;
    background: #3b3c5a;
    color: #FFF;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.telaDeCriacao p {
    color: #df9938;
    font-size: 20px;
    font-weight: 500;
    padding: 6px 3px;
}

.caixaDePerguntas,.caixaDeNiveis {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
}

.tituloQuizz {
    display: block;
    height: 40px;
    border: solid 1px #dedfdc;
}

.opcoes {
    display: flex;
    width: 100%;
}
.opcoes div {
    margin-right: 3px;
}

.niveis {
    display: flex;
    flex-direction: column;
}

.niveis, .perguntasRespostas {
    background: #dedfdc;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 10px;
}

.telaDeCriacao ion-icon {
    font-size: 35px;
    color: #df9938;
}

.porcentagemNivel {
    display: flex;
    width: 100%;
}



/*    -----------                TELA DE PERGUNTAS                -----------    */

.telaDePerguntas {
    width: 710px;
    margin-top: 150px;
    display: none;
    flex-direction: column;
    justify-content: center;   
}

.telaDePerguntas h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.telaDePerguntas h2 {
    width: 100%;
    font-size: 30px;
    padding: 40px;
    margin: 20px 0;
    background: #df9938;
}

.alternativas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.telaDePerguntas figure {
    width: 350px;
    height: 240px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}
figure img {
    width: 350px;
    height: 175px;
}
figcaption {
    font-size: 25px;
    padding: 20px 10px;
}

.correta {
    background: #348a5d;
}
.errada {
    background: #ad2c34;
}
.neutra {
    background: #dedfdc;
}

.perguntaAtual {
    margin-bottom: 20px;
    display: none;
    flex-direction: column;
}



/*    -----------                TELA DE RESULTADOS                -----------    */


.telaDeResultado {
    width: 600px;
    margin-top: 150px;
    display: none;
    flex-direction: column;
    justify-content: center; 
}


.caixaDescricaoResultado {
    display: flex;
}

.telaDeResultado h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.telaDeResultado h2 {
    width: 100%;
    font-size: 30px;
    padding: 40px;
    margin: 20px 0;
    background: #df9938;
}

.telaDeResultado h3 {
    font-size: 26px;
    margin-bottom: 15px;
}

.telaDeResultado p {
    font-size: 22px;
}

.textoResultado,.telaDeResultado img {
    width: 50%;
}

